.food__card {
  //   background-color: orangered;
  position: relative;

  &__image {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 3.5rem;
  }

  &__category {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: var(--font-size-product-name);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.5rem;
  }

  &__price {
    font-size: var(--font-size-product-name);
    font-weight: var(--font-semi-bold);
  }

  &__btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;

    position: absolute;
    top: 69.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid var(--color-red);
    padding: 1.1rem 2.5rem;
    border-radius: 50rem;

    font-weight: var(--font-semi-bold);
    font-family: inherit;
    font-size: 1.4rem;

    .cart-icon {
      margin-right: 0.6rem;
    }
  }
}
