.gotocart__cont {
  background-color: var(--color-white);
  border: 1px solid var(--color-red);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 50;
}

.gotocart__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-red);
}

.hidden {
  display: none;
}
