.container {
  max-width: var(--desktop-width);
  margin-right: auto;
  margin-left: auto;

  display: grid;
  grid-template-columns: 1fr 38rem;
  column-gap: 3.5rem;

  padding: 8.7rem 11.25rem;

  position: relative;

  &__menu {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.1rem;
    column-gap: 2.3rem;
  }

  &__cart {
    width: 100%;
    height: fit-content;
    background-color: var(--color-white);
    border-radius: 0.8rem;
  }
}

.mb-2-7 {
  margin-bottom: 2.7rem;
}

.heading-h1 {
  font-size: var(--heading-h1);
  color: var(--color-rose-90);
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);

  // display: flex;
  // justify-content: center;
  // align-items: center;

  z-index: 1;
}
