@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-white: #ffffff;
  --font-size: 62.5%;

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-40: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-90: hsl(14, 65%, 9%);

  --font-family: "Red Hat Text", sans-serif;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  --font-size-product-name: 1.6rem;
  --heading-h1: 4rem;
  --desktop-width: 144rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  background-color: var(--color-rose-50);

  position: relative;

  // height: 100vh;
  // overflow: hidden;
}

.lock {
  // height: 100vh;
  // overflow: hidden;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
